<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<!--
					The default configuration is an example to start making other configurations from.

					WHAT SHOULD I INCLUDE?
					In general, include the fewest items possible. This both makes things faster and reduces the amount of things kept in source control.
					The most common candidates for serialization are layout items and template items, but Unicorn can serialize any type of item or field including media.
					
					BEHAVIORS
					Configurations can override the default dependency types defined in Unicorn.config's <defaults> to apply
					custom behaviors to specific configurations. 
					
					If no 'type' attribute is specified, the default dependency type is inherited (e.g. Unicorn.Predicates.SerializationPresetPredicate for a predicate).
					Attributes set on a type-less dependency are added or replace those on the base type (e.g. setting transparent sync to on/off without specifying a type).
					Child elements of a type-less dependency are appended to any defined on the base (e.g. you can add includes to a predicate using this).
					Specifying a type attribute completely overwrites any definitions made in a parent configuration.
					
					DEPENDENCIES
					Configurations may also depend on each other. Add a comma-delimited list of configuration names to depend on to the 'dependencies' attribute on the configuration.
					Dependent configurations do not force dependencies to sync if not selected, but syncs will always occur in dependency order if multiple dependent configurations sync at once.
					Transitive dependency and multiple dependency (comma delimited) are supported.
					
					TIPS
					Favor using several configurations over a single monolithic one.
					Favor using more includes and fewer excludes in your predicates.
					Start with minimal configurations and add includes as you need to serialize new things.
					If you're using a convention-based system like Helix, you can create a base configuration that encodes your conventions using variables,
						for example <include path="/sitecore/templates/$(layer)/$(module)" /> on the predicate. The base configuration will have 'abstract="true"' on the root element, and
						inheritors will have 'extends="AbstractConfigName"' on their root element.
				-->
        <configuration name="Ny.Rules" description="Nyxie Promotion rules.">
          <predicate>
            <!-- Benefit Names -->
            <include name="Ny_CartAmountOffFulfillmentAction" database="master" 
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Actions/Ny_CartAmountOffFulfillmentAction" />
            <include name="Ny_CartEveryXItemsInCategoryPercentageDiscountAction" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Actions/Ny_CartEveryXItemsInCategoryPercentageDiscountAction" />
            <include name="Ny_CartEveryXItemsInCategoryPriceDiscountAction" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Actions/Ny_CartEveryXItemsInCategoryPriceDiscountAction" />
            <include name="Ny_CartFreeGiftAction" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Actions/Ny_CartFreeGiftAction" />
            <include name="Ny_CartItemsMatchingInCategoryPercentageDiscountAction" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Actions/Ny_CartItemsMatchingInCategoryPercentageDiscountAction" />
            <include name="Ny_CartItemsMatchingInCategoryPriceDiscountAction" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Actions/Ny_CartItemsMatchingInCategoryPriceDiscountAction" />

            <!-- Qualifications Names -->
            <include name="Ny_CartFulfillmentCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_CartFulfillmentCondition" />
            <include name="Ny_CartPaymentCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_CartPaymentCondition" />
            <include name="Ny_CartProductAmountInCategoryCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_CartProductAmountInCategoryCondition" />
            <include name="Ny_CartProductTotalInCategoryCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_CartProductTotalInCategoryCondition" />
            <include name="Ny_FirstPurchaseDateCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_FirstPurchaseDateCondition" />
            <include name="Ny_LastPurchaseDateCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_LastPurchaseDateCondition" />
            <include name="Ny_OrderHistoryAmountInCategoryCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_OrderHistoryAmountInCategoryCondition" />
            <include name="Ny_OrderHistoryTotalInCategoryCondition" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/Conditions/Ny_OrderHistoryTotalInCategoryCondition" />
            
            <!-- View Property Names -->

            <include name="Ny_ActionLimit" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_ActionLimit" />
            <include name="Ny_AmountOff" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_AmountOff" />
            <include name="Ny_ApplyActionTo" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_ApplyActionTo" />
            <include name="Ny_BasicStringCompare" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_BasicStringCompare" />
            <include name="Ny_Compares" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_Compares" />
            <include name="Ny_Date" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_Date" />
            <include name="Ny_IncludeSubCategories" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_IncludeSubCategories" />
            <include name="Ny_ItemsToAward" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_ItemsToAward" />
            <include name="Ny_ItemsToPurchase" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_ItemsToPurchase" />
            <include name="Ny_Operator" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_Operator" />
            <include name="Ny_PercentageOff" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_PercentageOff" />
            <include name="Ny_Quantity" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_Quantity" />
            <include name="Ny_SpecificAmount" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_SpecificAmount" />
            <include name="Ny_SpecificCategory" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_SpecificCategory" />
            <include name="Ny_SpecificFulfillment" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_SpecificFulfillment" />
            <include name="Ny_SpecificPayment" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_SpecificPayment" />
            <include name="Ny_SpecificValue" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Commerce Engine Settings/Commerce Terms/BusinessTools/ViewPropertyNames/Ny_SpecificValue" />
            
          </predicate>

          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>  
